.contact {
    background-color: palevioletred;
    padding: 10rem 0;
    text-align: center;
    user-select: none;

    &__heading {
        text-align: center;
        color: white;
        font-weight: 700;
        margin-bottom: 8rem;
        font-size: 3.5rem;
    }

    .btn--contact {
        background-color: white;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 6rem;
        border-radius: 100px;
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }
    }
}
